@import url("https://fonts.googleapis.com/css2?family=Akronim&display=swap");
/* font-family: 'Akronim', cursive; */

.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ? HOME  SCREEN  */

.splashScreen {
  margin-top: 40%;
  font-family: var(--logo-font);
  font-weight: 900;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50%;
}

.logo {
  background: linear-gradient(rgb(165, 2, 2), crimson);
  background-clip: text;
  color: transparent;
}

/* ?? BUTTON COMPONENT */
.buttonWrapper {
  padding: 1rem;
  background: linear-gradient(to right, rgb(165, 2, 2), crimson);
  padding: 3px;
  width: 9.4rem;
  height: 4.4rem;
  border-radius: 0.75rem;
  box-shadow: 2px 2px 2px crimson;
}

.wrappedContent {
  position: relative;
  background: black;
  color: white;
  padding: 2rem;
  width: 9rem;
  height: 4rem;
  border-radius: 0.75rem;
  font-family: var(--body-font);
  font-size: 1.5rem;
}

.btnTextContent {
  position: absolute;
  height: 30%;
  width: 30%;
  bottom: 40%;
  left: 30%;
}

/*  ? CARD  */
.cardContainer {
  position: relative;
  background-color: #222222;
  height: var(--card-dimension);
  width: var(--card-dimension);
  border-radius: 0.74rem;
  margin: 1rem 1rem;
}

.cardVideo {
  height: 12rem;
  width: 100%;
  padding: 0.5rem 0.5rem;
}
.cardInfo {
  font-family: var(--body-font);
  font-size: 0.6rem;
  color: crimson;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /* word-spacing: 9px; */
  /* letter-spacing: 3px; */
}

.infoAnimation {
  animation: letterAnimation 5s ease-in-out infinite;
}

.cardVideoQualityListDiv {
  padding-left: 0.5rem;
}

.selectListMenu {
  padding: 0.5rem 0.5rem;
  border-radius: 0.75rem;
  animation: dropDownAnimation 5s infinite;
  color: white;
  font-family: var(--body-font);
}
.actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cardGallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.downloadBtn {
  padding: 0.5rem 0.5rem;
  border-radius: 0.75rem;
  animation: dropDownAnimation 5s infinite;
  color: white;
  font-family: var(--body-font);
}

.header {
  font-family: var(--body-font);
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.headerContainer {
  padding-inline: 2rem;
  height: 15vh;
  padding-top: 4rem;
  margin-bottom: 2rem;
}
/* .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* .logo {
  height: 1em;
  margin-left: 0.5rem;
} */

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/*  ?? search bar */

.searchInput {
  height: 3rem;
  display: flex;
  margin-left: -0.5rem;
  background: #151515;
  border-radius: 5rem;
  animation: searchIconAnimation 5s infinite;
  /* box-shadow: 2px 2px 2px red; */
  margin-inline: 1rem;
}

.searchInput > form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 3rem;
}
.searchInput > form > input {
  border: none;
  outline: none;
  background: #151515;
  flex: 1;
  margin: 0 0.3rem;
  color: #fcfcfc;
  font-family: var(--text-medium);
}
.searchICon {
  color: #868686;
  width: 14.5px;
  height: 13px;
}

/* !!  ANimations */

@keyframes searchIconAnimation {
  0% {
    color: crimson;
    /* box-shadow: 2px 2px 2px wheat; */
  }

  25% {
    color: rgb(165, 2, 2);
  }

  50% {
    color: rgba(130, 7, 28, 0.857);
  }
  75% {
    color: rgba(36, 3, 76, 0.857);
  }

  100% {
    color: rgba(204, 70, 7, 0.857);
  }
}

@keyframes dropDownAnimation {
  0% {
    background-color: crimson;
    /* box-shadow: 2px 2px 2px wheat; */
  }

  25% {
    background-color: rgb(165, 2, 2);
  }

  50% {
    background-color: rgba(130, 7, 28, 0.857);
  }
  75% {
    background-color: rgba(36, 3, 76, 0.857);
  }

  100% {
    background-color: rgba(204, 70, 7, 0.857);
  }
}

@keyframes letterAnimation {
  0% {
    letter-spacing: 2px;
  }

  25% {
    letter-spacing: 4px;
  }

  50% {
    letter-spacing: 8px;
  }
  75% {
    letter-spacing: 4px;
  }

  100% {
    letter-spacing: 2px;
  }
}
